body{
    background-color: rgb(129, 188, 126);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
    font-family: 'The Wild Breath of Zelda', sans-serif;
    background-image: url(Imagenes/Fondo.png);      
    background-size: cover;  
}

/* .grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
} */

#central{
    flex: 2;
    display: flex;
    flex-direction: row; 
}


#principio{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
}

#fin{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.grid{
    flex: 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    border: 2px groove rgb(85, 153, 112);
}

#grid_menu{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
}

.container{
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 5px groove rgb(85, 153, 112);
    align-items: center;
    justify-content: center;
    width: 60vh;
    height: 30vh;
    font-size: 30px;
}

.container a:hover{
    background-color: rgb(91, 136, 98);
    transition: transform 0.3s;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgb(73, 103, 89);
}

img{
    width: 250px;
    height: 250px;
}