body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#principio{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: rgb(179, 172, 82);
    font-family: 'The Wild Breath of Zelda', sans-serif;
}

#central{
    flex: 3;
    display: flex;
    flex-direction: column; 
}


.grid{
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    color: white;
    margin-left: 300px;
}

.grid h1{
    font-family: 'The Wild Breath of Zelda', sans-serif;
    font-size: 50px;
    color: rgb(179, 172, 82);
    
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 5px groove rgb(255, 255, 255); */
    align-items: center;
    justify-content: center;
    width: 95vh;
    height: 10vh;
    font-size: 30px;
    padding: 20px 40px;
}

.container p{
    font-size: 25px;
}

#menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-right: 3px solid rgb(255, 255, 255);
    width: 15%;
    height: 50%;
    font-size: 25px;
    position: fixed;
}


#menu a{
    flex-grow: 1;
    text-decoration: none; 
    padding: 15px;
    text-align: center;
    display: block;
    margin: 15px 0;
    color: rgb(179, 172, 82);
}

#menu a:hover{
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgb(255, 255, 255);
}

img{
    width: 400px;
    height: 450px;
}